*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: white;
    font-family: Arial;
}
header{
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
header h1{
    font-family: cursive;
    font-size: 40px;
}
header i{
    font-size: 35px;
    cursor: pointer;
}
.stories{
    width: 100%;
    
}
.stories::-webkit-scrollbar{
    display: none;
    
}
.story{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    padding: 20px 10px;

}
.stimg{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    padding: 3px;
    background: 
    linear-gradient(
        65deg,
        yellow,
        orange,
        pink,
        purple
        
    );
    object-fit: cover;
}
.text{
    margin-top: 8px;
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.post{
    width: 100%;
    margin-top: 20px;
    color: white;

}
.posttop{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.profile{
    display: flex;
    align-items: center;
    gap: 10px;
}
.postimg{
    width: 100%;
    height: 1500px;
    object-fit: cover;
}
.posticons{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 28px;
    cursor: pointer;
}
.lefticons{
    display: flex;
    gap: 15px;
}
.caption{
    padding: 0 10px 15px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}